{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col utitle mt-3">
            <h1> Secret Santa </h1>
        </div>
    </div>
    <div class="row">
        <div class="col indexbox mt-3">
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <p >Your username and password didn't match. Please try again.</p>
            </div>
            {% endif %}
        </div>
    </div>
    {% if next %}
    <div class="row">
        <div class="col indexbox mt-3">
            {% if user.is_authenticated %}
            <p>
                You are already logged in. If you want to log in with different account, you ned to log out first. 
            </p>
            {% else %}
                <p> Log in to proceed.</p>
            {% endif %}
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col indexbox">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-light" name="next" value="{{ next }}"> Log in </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="p_initial"> No account? <a href="{% url 'register-employee' %}">Register</a> and join the team for the seasonal fun.</p>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}