<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load static %}
     <!-- custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  </head>
{% block navbar %}
<body>
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-sm">
  <a class="navbar-brand" href="{% url 'index' %}">Home</a>	
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'users' %}">All Users <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'participants' %}">Santa's List</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Register
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'register-administrator' %}">Register new Administrator</a>
          <a class="dropdown-item" href="{% url 'register-employee' %}">Register new Employee</a>
        </div>
      </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
    </li>
  </ul>
  </div>
</nav>
{% endif %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
{% block content %}{% endblock %} 
<!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--Webpage which provides decorative icons-->
    <script src="https://kit.fontawesome.com/f75ec8b6b4.js" crossorigin="anonymous"></script>
</body>
</html>
