{% extends "base.html" %}

{% block content %}
<div class="container-fluid mainbox">
	<div class="row">
		<div class="col titlebox">
			<h1>Secret Santa</h1>
		</div>
	</div>
{% if user.is_authenticated %}  
	<div class="row">
  		<div class="col indexbox">
  			{% if p_giver != None and p_receiver != None and request.user.is_superuser == False %}
  				<h3>Hello {{ p_giver }}</h3>
  				<p class="p_initial">
  					Your gift exchanging partner for this year is </p> 
  					<h3>{{ p_receiver }}</h3>
  				<h5>Happy Shopping!</h5>
  				<br>
  				{% load static %}
				<img src="{% static 'img/gifts.png' %}" alt="Gift image">
  			{% elif p_giver != None and p_receiver == None and request.user.is_superuser == False %}
  				<h3>Hey {{ current_user }}</h3>
  				<p class="p_initial">
  					It saddens us to say but, this season no one will be exchanging gifts with you. Just before matching process started, your Secret Santa mysteriously dissapeared and is no where to be seen. :( 
  				</p>
  				<h4>Don't be sad.<br>Even without gifts, holidays are still beautiful.</h4>
  			{% else %}
  					<h3>Hello {{ current_user }} </h3>
  				<p class="p_initial">
  					We still haven't found a match for you. Please come back in few days. Maybe someone will appear to share the joy of holiday giving with you.
  				</p>
  				<h5>
  					Happy Holidays!
  				</h5>
  			{% endif %}
  		</div>
  	</div>
{% else %}
	<div class="row">
		<div class="col indexbox">
			<h3>Welcome to Secret Santa's list generator</h3>
			<p class="p_initial"> <a href="{% url 'login'%}?next={{request.path}}">Log in</a> to see with whom are you exchanging gifts this season. <br> No account? <a href="{% url 'register-employee' %}">Register</a> and join your team for the seasonal fun.</p>
			<br><img src="{% static 'img/gifts.png' %}" alt="Gift image">
		</div>
	</div>
{% endif %}
{% endblock %}
</div>

