{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
{% if request.user.is_staff %}
<div class="container-fluid">
    <div class="row">
        <div class="col mt-3 ml-5 mb-2">
            <h1> Delete user </h1>
        </div>
    </div>
    <div class="row">
        <div class="col del">
            <p>Are you sure you want to delete <strong> {{ user }}</strong>?</p>
            <form action="" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-light" value >Delete</button>
            </form>
        </div>
    </div>
{% else %}
  <div class="row">
    <div class="col ulist">
      <p>You are not authorised to perfom this action.</p>
      <button type="submit" class="btn btn-light"><a href="{% url 'index' %}"> Back to main page</a></button>
    </div>
  </div>
{% endif %}
{% else %}
  <div class="row">
    <div class="col ulist">
      <p>You need to be logged in in order to proceed.</p>
      <button type="submit" class="btn btn-light"><a href="{% url 'login'%}">Log in</a></button>
    </div>
  </div>
{% endif %}
</div>
{% endblock %}