{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
{% if request.user.is_staff %}

<div class="container-fluid">
  <div class="row">
    <div class="col utitle">
        <h1>Santa's list</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col table-responsive">
      {% if participants_list %}
      <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Matched Pairs</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for p in participants_list %}
        {% if p.giver != None %}
        <tr>
          <td>{{ p.giver }} </td>
          <td>{{ p.receiver }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
      </table>
    </div>
    <div class="col table-responsive">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">Unmatched</th>
        </tr>
      </thead>
      <tbody>
        {% for p in participants_list|slice:":1" %}
        {% if p.giver == None %}
        <tr>
          <td> {{ p.receiver }} has no one to exchange gifts with this time.</td>
        </tr>
        {% else %}
        <tr>
          <td> Yay, everyone has a match this season. </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col ulist">
      <h4> Wanna make new Santa's list?</h4>
      <form action="{% url 'participants-delete' %}" method="get">
        <fieldset>
          <div class="form-group">
              <button type="submit" class="btn btn-light">Yes, match again</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% else %}
  <div class="row">
    <div class="col ulist">
      <p> No Santa's list? Let's make one now. Click on the button below to match pairs.</h>
      <form action="{% url 'match' %}" method="post">
        {% csrf_token %}
        <fieldset>
          <div class="form-group">
            <button type="submit" class="btn btn-light">Make Pairs</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endif %}
{% else %}
  <div class="row">
    <div class="col ulist">
      <p>You are not authorised to perfom this action.</p>
      <button type="submit" class="btn btn-light"><a href="{% url 'index' %}"> Back to main page</a></button>
    </div>
  </div>
{% endif %}
{% else %}
  <div class="row">
    <div class="col ulist">
      <p>You need to be logged in in order to proceed.</p>
      <button type="submit" class="btn btn-light"><a href="{% url 'login'%}">Log in</a></button>
    </div>
  </div>
{% endif %}
</div>

{% endblock %}