{% extends "base.html" %}

{% block content %} 
<!--Register--> 
<div class="container-fluid">
{% if user.is_authenticated %}
{% if request.user.is_staff %}
	<div class="row">
		<div class="col utitle">
	  	<h1>Register</h1>
		</div>
	</div>
  <div class="row">
	  <div class="reg">
	 	<form method="POST">
	 	{% csrf_token %}
	 		<div class="row">
	 			<div class="col">
	 					{{ register_form.first_name.label_tag }}
						{{ register_form.first_name.errors }} <br>
						{{ register_form.first_name }}
	 			</div>
	 		</div>
	 		<div class="row">
	 			<div class="col">
	 					{{ register_form.last_name.label_tag }}
						{{ register_form.last_name.errors }} <br>
						{{ register_form.last_name }}
	 			</div>
	 		</div>
	 		<div class="row">
	 			<div class="col">
	 					{{ register_form.username.label_tag }}
						{{ register_form.username.errors }} <br>
						{{ register_form.username }} <br>
						{{ register_form.username.help_text }}
	 			</div>
	 		</div>
	 		<div class="row">
	 			<div class="col">
	 					{{ register_form.email.label_tag }}
						{{ register_form.email.errors }} <br>
						{{ register_form.email }}
	 			</div>
	 		</div>
	 		<div class="row">
	 			<div class="col">
	 					{{ register_form.password1.label_tag }}
						{{ register_form.password1.errors }} <br>
						{{ register_form.password1 }} <br>
						{{ register_form.password1.help_text }}
	 			</div>
	 		</div>
	 		<div class="row">
	 			<div class="col">
	 					{{ register_form.password2.label_tag }}
						{{ register_form.password2.errors }} <br>
						{{ register_form.password2 }} <br>
	 			</div>
	 		</div>
	 		<div class="row mb-2">
	 			<div class="col">
	 				<button class="btn btn-light" type="submit">Register</button>
	 			</div>
	 		</div>
	 		<div class="row mt-3">
	 			<div class="col">
	 					<p class="text-center">Already have an account?</p> 
						<button type="submit" class="btn btn-light"><a href="{% url 'login'%}?next={{request.path}}">Log in</a></button>
	 			</div>
	 		</div>
    </form>
	  </div>
  </div>
{% else %}
  <div class="row">
    <div class="col ulist">
      <p>You are not authorised to perfom this action.</p>
      <button type="submit" class="btn btn-light"><a href="{% url 'index' %}"> Back to main page</a></button>
    </div>
  </div>
{% endif %}
{% else %}
  <div class="row">
    <div class="col ulist">
      <p>You need to be logged in in order to proceed.</p>
      <button type="submit" class="btn btn-light"><a href="{% url 'login'%}?next={{request.path}}">Log in</a></button>
    </div>
  </div>
{% endif %}
</div>

{% endblock %}